@import "tailwindcss";

@theme {

  /* OrgFlow Brand Colors */
  --color-primary: #2184E5;
  --color-secondary: #8036D7;

  /* UI Colors */
  --color-background: #F8FAFC;
  --color-foreground: #0F172A;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

}